# answer sins payload
VITE_SIN_BCRYPT = ""
VITE_ENCRYPTED_REWARD_1 = ""
VITE_ENCRYPTED_REWARD_2 = ""

# answer quotes in bcrypt
VITE_MERCURY_QUOTE = ""
VITE_VENUS_QUOTE = ""
VITE_EARTH_QUOTE = ""
VITE_LUNA_QUOTE = ""
VITE_MARS_QUOTE = ""
VITE_JUPITER_QUOTE = ""
VITE_SATURN_QUOTE = ""
VITE_URANUS_QUOTE = ""
VITE_NEPTUNE_QUOTE = ""
VITE_PLUTO_QUOTE = ""

# cause why not
VITE_MERCURY_QUOTE_LENGTH = 0
VITE_VENUS_QUOTE_LENGTH = 0
VITE_EARTH_QUOTE_LENGTH = 0
VITE_LUNA_QUOTE_LENGTH = 0
VITE_MARS_QUOTE_LENGTH = 0
VITE_JUPITER_QUOTE_LENGTH = 0
VITE_SATURN_QUOTE_LENGTH = 0
VITE_URANUS_QUOTE_LENGTH = 0
VITE_NEPTUNE_QUOTE_LENGTH = 0
VITE_PLUTO_QUOTE_LENGTH = 0

VITE_LEVIATHAN_KEY = "" # key for the drive link
VITE_SATAN_KEY = "" # key for the youtube post
VITE_BELPHEGOR_KEY = "" # key for the instagram post
